<h2> Container Info</h2>
<hr>

<form #myForm="ngForm"  (ngSubmit)="saveEdit()" >  <!-- ngForm pega todos os atributos do formulário e passa para #myForm -->

  <div class="form-group row">
    <label class="col-2 col-form-label">Cliente:</label>
    <div class="col-6">
      <input [(ngModel)]="container.nm_Cliente" name="name" #myName="ngModel"  [ngClass]="{'is-invalid': myName.invalid}" class="form-control" required maxlength="50"> <!-- #containername variavel de template pega o vaalor do ngModel que esta no html-->

      <div class="invalid-feedback">   <!-- Bootstrap mensagem de invalido form ira aparecer o span-->
        <span>Nome do cliente é obrigatório</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Nº Container:</label>
    <div class="col-6">
      <input [(ngModel)]="container.cd_Container" name="numero"  class="form-control" required disabled>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Tipo:</label>
    <div class="col-6">
      <select [(ngModel)]="container.ds_Tipo" name="type"  class="form-control" required>

        <option value="VINTE">20</option>
        <option value="QUARENTA">40</option>
      </select>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Status:</label>
    <div class="col-sm-6">
      <select [(ngModel)]="container.ds_Status" name="status" class="form-control" required>

        <option value="CHEIO">Cheio</option>
        <option value="VAZIO">Vazio</option>
      </select>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Categoria:</label>
    <div class="col-6">
      <select [(ngModel)]="container.ds_Categoria" name="categoria"  class="form-control" required>

      <option value="IMPORTACAO">Importação</option>
      <option value="EXPORTACAO">Exportação</option>
      </select>

    </div>
  </div>


  <button [disabled]="myForm.invalid" class="btn btn-primary mr-2">Save</button>
  <button [routerLink]="['/container']" class="btn btn-secondary">Back</button>

</form>

