<div class="row mb-4">
<h2 class="col-10"> Listagem Containers</h2>
  <a  [routerLink]="['/container/cadastro']"  class="btn btn-primary"> Novo Container</a>
</div>

<div class="form-group row">
  <label class="col-2 col-form-label">Filter By:</label>

  <div class="col-10">
    <input  [(ngModel)]="filtroBy" class="form-control" placeholder="Digite o Nº do Container ou o nome do Cliente">
  </div>

</div>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>Cliente</th>
    <th>Nº Container</th>
    <th>Tipo</th>
    <th>Status</th>
    <th>Categoria</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let container of filtroListaContainer;">
    <td>{{container.id}}</td>
    <td>{{container.nm_Cliente}}</td>
    <td>{{container.cd_Container}}</td>
    <td>{{container.ds_Tipo}}</td>
    <td>{{container.ds_Status}}</td>
    <td>{{container.ds_Categoria}}</td>
    <td>
      <a  [routerLink]="['/container/info', container.id]"  class="btn btn-primary">Edit</a>   <!–  rota (vai passar uma variável da Url id)->
    </td>
    <td>
      <a  (click)="deleteConteiner(container.id)"     class="btn btn-danger">Excluir</a>   <!–  rota (vai passar uma variável da id)->
    </td>
  </tr>
  </tbody>
</table>
